In [194]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

#### 1. Масштабирование:
* а. Нормализовать признак - median_income
* б. Привести признак - population к масштабу от 0 до 100

#### 2. Заполнение пропусков:
* а. Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity
Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории

#### 3. Категорийные атрибуты:
* а. Посчитать среднее кол-во комнат в строке (total_rooms/households)
* б. Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

In [195]:
df = pd.read_csv('/Users/peter/Desktop/Материалы к лекции 1/data/housing.csv')

In [196]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [198]:
#размер датафрейма
df.shape

(20640, 10)

In [199]:
#количество пропущенных значений по фичам
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [200]:
#пропущенные значения в процентах
df.isna().sum() / df.shape[0]

longitude             0.000000
latitude              0.000000
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        0.010029
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
ocean_proximity       0.000000
dtype: float64

#### Посчитать среднее кол-во комнат в строке (total_rooms/households)

In [201]:
df['average_rooms'] = df.total_rooms/df.households

In [202]:
df.average_rooms.sort_values().to_frame().head()

       average_rooms
5916        0.846154
8219        0.888889
3126        1.000000
14818       1.130435
17820       1.130435

#### Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

In [203]:
def how_many_rooms_cat(row):
    if row <1.5:
        return 1
    elif row >1.5 and row < 2.5:
        return 2
    elif row > 2.5 and row < 3.5:
        return 3
    elif row > 3.5 and row < 4.5:
        return 4
    elif row > 4.5 and row < 5.5:
        return 5
    elif row > 5.5 and row < 6.5:
        return 6
    else:
        return 0

In [204]:
df['categ_rooms'] = df.average_rooms.apply(how_many_rooms_cat)

In [243]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms,categ_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,6
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,4.761658,5
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,4.931907,5
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,4.797527,5
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,4.294118,4
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,4.970588,5

#### Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity
#### Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории

In [206]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [207]:
sl = df.groupby('ocean_proximity').agg({'total_bedrooms': 'mean'}).to_dict()['total_bedrooms']

In [230]:
sl

{'<1H OCEAN': 546.5391852999778,
 'INLAND': 533.8816194581281,
 'ISLAND': 420.4,
 'NEAR BAY': 514.1828193832599,
 'NEAR OCEAN': 538.6156773211568}

In [240]:
mask = df['total_bedrooms'].isin(['NaN','nan'])
df.loc[mask, 'total_bedrooms'] = df.loc[mask, 'ocean_proximity'].map(sl)

In [241]:
df['total_bedrooms'].fillna(df.query('total_bedrooms>0').median(), inplace= True)

In [242]:
df.total_bedrooms.isnull().sum()

0

#### Нормализовать признак - median_income

In [247]:
from sklearn.preprocessing import StandardScaler

In [249]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms,categ_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,6

In [257]:
df.median_income = pd.DataFrame(scaler.fit_transform(df.median_income.to_frame()))

In [258]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms,categ_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,2.344766,452600.0,NEAR BAY,6.984127,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,2.332238,358500.0,NEAR BAY,6.238137,6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,1.782699,352100.0,NEAR BAY,8.288136,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,0.932968,341300.0,NEAR BAY,5.817352,6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,-0.012881,342200.0,NEAR BAY,6.281853,6

#### Привести признак - population к масштабу от 0 до 100

In [262]:
from sklearn import preprocessing

In [268]:
scaler2 = preprocessing.MinMaxScaler(feature_range=(0,100))

In [288]:
df.population = pd.DataFrame(scaler2.fit_transform(df.population.to_frame()))

In [296]:
df.sort_values('population', ascending = False).population.to_frame().head()

       population
15360  100.000000
9880    80.055495
13139   45.690742
10309   45.177836
6057    43.454133

In [298]:
df.population.min()

0.0